.PageNotFound{
    width: 300px;
    height: 100px;
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0px 3px 10px 0px #ff5722;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.PageNotFound p{
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 10px;
}
.PageNotFound button{
    margin-top: 10px;
    height: 35px;
    width: 110px;
    background-color: #4caf50;
    color: white;
    font-style: italic;
    font-size: 15px;
    vertical-align: middle;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}