/* input_tag input_value css */
.entity-column {
    vertical-align: top;
}

.input_tag {
    margin-top: 5px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}

.input_value {
    margin-top: 5px;
    display: inline-block;
    vertical-align: bottom;
    /* min-height to keep checkbox vertical-aligned with input_tag */
    min-height: 24px;
}

.input_tag input {
    padding: 5px 10px 5px 10px;
    max-width: 150px;
    font-style: italic;
}

.input_value input {
    padding: 5px 10px 5px 10px;
    vertical-align: middle;
}

.input_value .alert_message {
    color: var(--colorDanger);
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 5px;
    display: none;
}

.input_value .alert_message.hide {
    display: block;
}

.alert_message span.hightlight {
    color: var(--colorSuccess);
    font-style: italic;
    text-decoration: underline;
}

.input_value .multiinput_remove {
    border: 1px solid var(--colorDanger);
    border-radius: 3px;
    width: 25px;
    height: 25px;
    color: #ffffff;
    background-color: var(--colorDanger);
    vertical-align: top;
    margin-left: 5px;
    cursor: pointer;
}

.input_value .multiinput_remove:hover {
    filter: brightness(120%);
}

input.multiinput_item,
textarea.multiinput_item {
    margin-bottom: 5px;
}

.input_value .multiinput_add {
    border: 1px solid var(--colorSuccess);
    border-radius: 3px;
    width: 25px;
    height: 25px;
    color: #ffffff;
    background-color: var(--colorSuccess);
    vertical-align: middle;
    cursor: pointer;
}

.input_value .multiinput_add:hover {
    filter: brightness(120%);
}

.input_value textarea.null,
.input_value input.null,
.input_value select.null {
    background-color: #cdcdcd50;
    border-color: #cdcdcd90;
    border-radius: 2px;
}

.input_value textarea {
    padding: 5px 10px 5px 10px;
    vertical-align: middle;
}

.input_value select {
    border-color: #ababab;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    width: 182px;
}

.input_value select:hover {
    filter: brightness(130%);
}

.input_value select option {
    padding: 5px 10px 5px 10px;
    display: block;
}

.input_tag.left input,
.input_value.left input {
    text-align: left;
}

.input_tag.center input,
.input_value.center input {
    text-align: center;
}

.input_tag.right input,
.input_value.right input {
    text-align: right;
}

/* entity_column */
.entity-id {
    border-bottom: 1px solid #007bff60;
    padding-top: 15px;
    padding-bottom: 40px;
}

/* button */
button.large {
    min-width: 70px;
    padding: 0px 7px 0px 7px;
    height: 35px;
    line-height: 35px;
    outline: none;
    border: 0px;
    color: #ffffff;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    filter: brightness(90%);
}
button.float {
    position: absolute;
    top: 8px;
    right: 20px;
}
button.large:hover {
    filter: brightness(100%);
}
button.large:active {
    filter: brightness(90%);
}
button.large.disabled {
    filter: grayscale(100%);
    pointer-events: none;
}
button.large.success {
    background-color: var(--colorSuccess);
    box-shadow: 5px 5px 20px -10px var(--colorSuccess), 5px 5px 20px -10px var(--colorSuccess), 5px 5px 20px -10px var(--colorSuccess);
}
button.large.danger {
    background-color: var(--colorDanger);
    box-shadow: 5px 5px 20px -10px var(--colorDanger), 5px 5px 20px -10px var(--colorDanger), 5px 5px 20px -10px var(--colorDanger);
}
button.large.warning {
    background-color: var(--colorWarning);
    box-shadow: 5px 5px 20px -10px var(--colorWarning), 5px 5px 20px -10px var(--colorWarning), 5px 5px 20px -10px var(--colorWarning);
}
button.large.info {
    background-color: var(--colorInfo);
    box-shadow: 5px 5px 20px -10px var(--colorInfo), 5px 5px 20px -10px var(--colorInfo), 5px 5px 20px -10px var(--colorInfo);
}

/* entity-id section */
.entity-id .section-title {
    color: #ababab;
    width: 100px;
    padding-left: 0px;
    background-color: #ffffff;
}

/* detail section */
.entity-eav {
    margin-top: -20px;
}
.entity-eav .section-title,
.entity-option .section-title {
    color: #ababab;
    padding: 10px;
    padding-left: 0px;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: top;
}
.entity-eav .section-title .item {
    cursor: pointer;
    margin-right: 10px;
}
.entity-eav .section-title .item:hover {
    color: var(--colorInfo);
    filter: brightness(120%);
}
.entity-eav .section-title .item.active {
    color: var(--colorInfo);
    filter: none;
    cursor: auto;
}
.entity-eav .section-item {
    display: none;
    padding-bottom: 20px;
}
.entity-eav .section-item.active {
    display: block;
}
.entity-eav .section-item .eav-group-title {
    background-color: #ababab;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    padding: 3px 10px 3px 10px;
    width: calc(100% - 15px);
    margin-top: 20px;
}

.entity-eav .section-item .eav-group-title:first-child {
    margin-top: 0px;
}

button.section-button {
    position: fixed;
    top: calc(100vh - 50px);
}