.main {
    display: inline-block;
    padding-left: 5px;
    width: calc(100% - var(--width));
    height: calc(100vh - 4px);
    transition: width var(--transition) linear;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.main .title {
    position: relative;
    height: 50px;
    padding-top: 10px;
    border-bottom: 2px solid #efefef;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #ffffff;
}

.add-new {
    display: inline-block;
    text-align: center;
    min-width: 70px;
    padding: 0px 7px 0px 7px;
    height: 35px;
    line-height: 35px;
    background-color: #3fb85b;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 3px 3px 3px #28a74540, -3px -3px 3px #28a74540, 3px -3px 3px #28a74540, -3px 3px 3px #28a74540;
}

.add-new:hover {
    background-color: #28a745;
}

.content {
    /* height: 200vh; */
}


/* table css */

th {
    background-color: #cdcdcd;
    height: 35px;
}

.td_input {
    border-bottom: 1px solid #ababab80;
    border-left: 1px solid #ffffff;
}

.td_input.right input {
    text-align: right;
}

.td_input.center input {
    text-align: center;
}

.td_input.left input {
    text-align: left;
}

.td_input input {
    padding: 3px 5px 3px 5px;
    width: 100%;
    height: 100%;
    min-height: 30px;
    background-color: #ffffff00;
    border: none;
}

.td_input.null {
    background-color: #cdcdcd50;
}

.td_input a input {
    cursor: pointer;
    text-decoration: underline;
    color: #007bff;
}

.tb-row-item td.ord {
    padding-left: var(--paddingleft);
}

.td_input.ord {
    max-width: 100px;
}

.td_action {
    padding-left: 20px;
}

.td_action button {
    margin-left: 3px;
    margin-top: 3px;
    padding: 3px 5px 3px 5px;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    min-width: 50px;
    outline: none;
    cursor: pointer;
    color: #dedeee;
}

tr .edit {
    display: inline-block;
}

tr .save,
tr .cancel {
    display: none;
}

tr.onEdit .edit {
    display: none;
}

tr.onEdit .td_action .save,
tr.onEdit .td_action .cancel {
    display: inline-block;
}

.button:hover {
    filter: brightness(150%);
}

.button:active {
    filter: brightness(120%);
}

.button.edit {
    background-color: #007bff;
}

.button.save {
    background-color: #ffc107;
}

.button.cancel {
    background-color: #6c757d;
}