body {
    --width: 30px;
    --oriWidth: 230px;
    --transition: 0.3s;
}
.side-bar {
    width: var(--width);
    transition: width var(--transition) linear;
    height: 100vh;
    position: relative;
    display: inline-block;
    vertical-align: top;
    user-select: none;
}
.side-bar .wrapper {
    width: calc(100% - 15px);
    height: 100%;
    border-right: 1px solid #ababab50;
    transition: width var(--transition) linear;
    overflow-x: hidden;
    height: 100%;
    background-color: #ffffff;
    transition: background-color 0s;
    transition-delay: 0s;
}
.side-bar.close .wrapper {
    background-color: #ababab;
    transition: background-color 0s;
    transition-delay: var(--transition);
}
.side-bar.open-hover .wrapper {
    background-color: #ffffff;
    transition: background-color 0s;
    transition-delay: 0s;
}
.side-bar .wrapper .logo {
    display: block;
    width: 100%;
    height: 50px;
    background-image: url(https://cdn.thukyluat.vn/nhch-images//CauHoi_Hinh/9eb6abaa-8cda-456c-ad66-26ba4da23ffe.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40%;
    margin-bottom: 10px;
}
.side-bar .navitem {
    display: block;
    width: calc(var(--oriWidth) - 30px);
    height: 25px;
    line-height: 25px;
    padding-left: 15px;
    background-color: #ababab;
    margin: auto;
    margin-bottom: 3px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color .5s;
}
.side-bar .navitem:active {
    color: green;
}
.side-bar .navitem.active {
    background-color: #787878;
}
.side-bar .switch-icon {
    position: absolute;
    top: 3px;
    right: -3px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #787878;
    background-color: #efefef;
    border: 1px solid #ababab;
    border-radius: 3px;
}
.side-bar .switch-icon svg {
    transform: rotateY(180deg);
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
}
.side-bar.close .switch-icon svg {
    transform: rotateY(0deg);
}