@media all and (min-width: 901px){
    .UserLayout{
        background-color: #dedede;
    }
    .UserWrapper{
        min-height: calc(100vh + 0px);
        padding-bottom: 150px;
        position: relative;
    }
}
@media all and (max-width: 900px){
    .UserLayout{
        background-color: #dedede;
    }
    .UserWrapper{
        min-height: calc(100vh + 0px);
        padding-bottom: 270px;
        position: relative;
    }
}