
.category-page .banner-image {
    height: calc(100vh - var(--navHeight) - 200px);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.category-page {
    user-select: none;
}

.category-page .cat-title {
    color: #dedede;
    font-family: sans-serif;
    font-size: 30px;
}

.category-page .cat-description {
    color: #ababab;
}