
.category-page .banner-image {
    height: calc(100vh - var(--navHeight) - 200px);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.category-page {
    user-select: none;
}

.category-page .cat-title {
    color: #dedede;
    font-family: sans-serif;
    font-size: 30px;
}

.category-page .cat-description {
    color: #ababab;
}

.category-page .sub-categories {
    position: relative;
    height: 200px;
    background-color: #efefef;
    border-radius: 1px;
    overflow: hidden;
}

.category-page .sub-categories .item {
    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 5px #ababab;
    display: inline-block;
    border-radius: 50%;
    margin: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
    vertical-align: middle;
}

.category-page .sub-categories .item .name {
    display: inline-block;
    width: 80%;
    color: #ababab;
    font-family: sans-serif;
    color: white;
    text-shadow: -1px -1px 0 #007bff, 1px -1px 0 #007bff, -1px 1px 0 #007bff, 1px 1px 0 #007bff;
}

.prod-list {
    padding-left: 5px;
    margin-top: 10px;
}

.prod-list .prod-box {
    display: inline-block;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 8px;
    width: calc((100% - 15px)/2);
    box-shadow: 0px 0px 5px #cdcdcd;
    vertical-align: top;
    cursor: pointer;
}

.prod-list .prod-box .prod-thumbnail {
    position: relative;
    height: 200px;
    overflow: hidden;
    user-select: none;
}

.prod-list .prod-box .prod-thumbnail img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.prod-list .prod-box .prod-name {
    margin-top: 5px;
    min-height: 20px;
    padding: 0px 5px 0px 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.prod-list .prod-box .price {
    padding: 0px 5px 0px 5px;
    margin-top: 5px;
    min-height: 20px;
    color: #ee4d2d;
    padding-bottom: 10px;
}

.prod-list .prod-box .price .old {
    color: #454545;
    margin-right: 5px;
    text-decoration: line-through;
    font-size: 15px;
}