/* Desktop, tablet */
@media (min-width: 761px) {
    .product-page {
        --textContentMinWidth: 400px;
    }

    .product-page .text-content {
        display: inline-block;
        width: 35%;
        min-width: var(--textContentMinWidth);
        vertical-align: top;
        position: sticky;
        top: 15px;
        margin-top: 30px;
    }

    .product-page .text-content .wrap-box {
        padding-left: 10%;
        padding-right: 5%;
    }

    .product-page .text-content .wrap-box .variation {
        border: 1px solid #ababab;
        padding: 3px;
        border-radius: 2px;
        user-select: none;
    }

    .product-page .text-content .wrap-box .variation:hover {
        filter: brightness(120%);
    }

    .product-page .text-content .wrap-box .variation .swatch-name {
        padding: 2px 10px 2px 2px;
        color: #ababab;
        white-space: nowrap;
        vertical-align: top;
    }

    .product-page .text-content .wrap-box .variation .swatch-value {
        /* text-align: center; */
    }

    .product-page .text-content .wrap-box .variation .swatch-value-item {
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #ababab;
        border-radius: 2px;
        color: #ababab;
        margin: 1px 1px 0px 1px;
        padding: 0px 3px 0px 3px;
        min-width: 80px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
    }

    .product-page .text-content .wrap-box .variation .swatch-value-item.selected {
        border-color: #f08080;
        background-color: #f08080;
        color: #ffffff;
    }

    .product-page .text-content .wrap-box .variation .swatch-value-item.unavailable {
        border-color: #ababab;
        background-color: #ababab;
        color: #ffffff;
    }

    .product-page .text-content .wrap-box .variation .swatch-value-item:hover {
        filter: brightness(80%);
    }

    .product-page .text-content .wrap-box .variation .swatch-value-item.unavailable:hover {
        filter: brightness(100%);
        cursor: auto;
    }

    .product-page .gallery {
        display: inline-block;
        width: 65%;
        max-width: calc(100% - var(--textContentMinWidth));
        vertical-align: top;
    }

    .product-page .gallery .mobile-carousel {
        display: none;
    }

    .product-page .gallery .desktop-gallery {
        
    }

    .product-page .gallery .desktop-gallery .gallery-item {
        width: calc(100%/2 - 4px);
        margin: 2px;
        display: inline-block;
        vertical-align: middle;
        border: 5px solid #dedede;
    }

    .product-page .gallery .desktop-gallery .gallery-item.selected {
        border-color: #f08080;
    }

    .product-page .gallery .desktop-gallery .gallery-item img {
        width: 100%;
        height: auto;
    }

    .product-page .gallery .desktop-gallery .gallery-unique img {
        width: 100%;
        height: auto;
    }

}

/* mobile */
@media (max-width: 760px) {
    .product-page .gallery .mobile-carousel .carousel-item {
        height: var(--galleryHeight);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .product-page .gallery .slick-dots {
        background-color: #ababab50;
        margin: 0px;
        padding: 10px;
    }
}