/* Desktop, tablet */
@media (min-width: 761px) {
    .product-page {
        --textContentMinWidth: 400px;
    }

    .product-page .text-content {
        display: inline-block;
        width: 35%;
        min-width: var(--textContentMinWidth);
        vertical-align: top;
        position: sticky;
        top: 15px;
        margin-top: 30px;
    }

    .product-page .text-content .wrap-box {
        padding-left: 10%;
        padding-right: 5%;
    }

    .product-page .gallery {
        display: inline-block;
        width: 65%;
        max-width: calc(100% - var(--textContentMinWidth));
        vertical-align: top;
    }

    .product-page .gallery .mobile-carousel {
        display: none;
    }

    .product-page .gallery .desktop-gallery {
        
    }

    .product-page .gallery .desktop-gallery .gallery-item {
        width: calc(100%/2 - 4px);
        margin: 2px;
        display: inline-block;
        vertical-align: middle;
        border: 5px solid #dedede;
    }

    .product-page .gallery .desktop-gallery .gallery-item.selected {
        border-color: #f08080;
    }

    .product-page .gallery .desktop-gallery .gallery-item img {
        width: 100%;
        height: auto;
    }

    .product-page .gallery .desktop-gallery .gallery-unique img {
        width: 100%;
        height: auto;
    }
}

/* mobile */
@media (max-width: 760px) {
    .product-page .gallery .mobile-carousel .carousel-item {
        height: var(--galleryHeight);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .product-page .gallery .slick-dots {
        background-color: #ababab50;
        margin: 0px;
        padding: 10px;
    }
}