* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.bgsweep {
  background: linear-gradient(
      -45deg,
      #9a9a9a90 45%,
      #cdcdcd 50%,
      #9a9a9a90 55%,
      #9a9a9a90 100%
  );
  background-size: 350%;
  background-position: 0%;
  animation: bgsweep 1s infinite;
}

body {
  --footerHeight: 300px;
  min-height: 100vh;
  position: relative;
  padding-bottom: var(--footerHeight);
}

@keyframes bgsweep {
  0% {
      background-position: 100%;
  }
  100% {
      background-position: 0%;
  }
}